# Node
node_modules
.env

# Build output
dist

# Logs
npm-debug.log*
/src/generated/prisma

# Prisma
prisma/dev.db
prisma/dev.db-journal
src/generated/prisma/

# TypeScript cache
*.tsbuildinfo

# Docker
Dockerfile